/* Generated IconType... */
@font-face {
  font-family: "iconfont"; 
  src: url('./iconfont.ttf?t=___') format('truetype');
}
  
.iconfont {
  font-family: "iconfont" !important;
  text-decoration: none;
  text-align: center;
}

.icon-arrow-down-2:before {
  content: "\e600";
}

.icon-bill-yi-liao:before {
  content: "\e66c";
}

.icon-bill-fa-hong-bao:before {
  content: "\e668";
}

.icon-bill-chong-wu:before {
  content: "\e669";
}

.icon-bill-sheng-huo-jiao-fei:before {
  content: "\e667";
}

.icon-bill-lv-xing:before {
  content: "\e666";
}

.icon-bill-gou-wu:before {
  content: "\e664";
}

.icon-bill-yu-le:before {
  content: "\e65f";
}

.icon-bill-jiao-yu:before {
  content: "\e662";
}

.icon-bill-fu-wu:before {
  content: "\e663";
}

.icon-bill-yun-dong:before {
  content: "\e65c";
}

.icon-bill-jiao-tong:before {
  content: "\e65a";
}

.icon-bill-can-yin:before {
  content: "\e658";
}

.icon-bill-jiao-fei:before {
  content: "\e651";
}

.icon-bill-xin-zi:before {
  content: "\e657";
}

.icon-bill-mai-cai:before {
  content: "\e653";
}

.icon-bill-cai-gou:before {
  content: "\e652";
}

.icon-bill-xin-zeng-xiang:before {
  content: "\e650";
}

.icon-bill-plus:before {
  content: "\e64f";
}

.icon-bill-shou-zhuan-zhang:before {
  content: "\e64c";
}

.icon-bill-qi-ta:before {
  content: "\e64d";
}

.icon-bill-shou-hong-bao:before {
  content: "\e64b";
}

.icon-bill-ren-qing:before {
  content: "\e64a";
}

.icon-bill-zhuan-zhang:before {
  content: "\e648";
}

.icon-bill-tui-kuan:before {
  content: "\e641";
}

.icon-bill-sheng-yi:before {
  content: "\e640";
}

.icon-bill-zao-jiao:before {
  content: "\e63f";
}

.icon-bill-zao-tuo:before {
  content: "\e63e";
}

.icon-keyboard-del:before {
  content: "\e63d";
}

.icon-doubt:before {
  content: "\e63c";
}

.icon-operation:before {
  content: "\e63b";
}

.icon-require:before {
  content: "\e63a";
}

.icon-increase-copy:before {
  content: "\ec89";
}

.icon-arrow-down:before {
  content: "\eb90";
}

.icon-ci_cuowu1:before {
  content: "\e6ed";
}

.icon-ci_zhengque:before {
  content: "\e6ec";
}

.icon-ic_qiehuan1:before {
  content: "\e6ea";
}

.icon-ic_qiehuan:before {
  content: "\e6e9";
}

.icon-heart:before {
  content: "\ec87";
}

.icon-eat:before {
  content: "\e6e5";
}

.icon-share:before {
  content: "\e6de";
}

.icon-adjust:before {
  content: "\e6dc";
}

.icon-bag:before {
  content: "\e614";
}

.icon-urinate:before {
  content: "\e6db";
}

.icon-class-photo:before {
  content: "\e6da";
}

.icon-food:before {
  content: "\e6d9";
}

.icon-disinfect:before {
  content: "\e6d3";
}

.icon-user:before {
  content: "\e613";
}

.icon-video:before {
  content: "\e6c9";
}

.icon-release:before {
  content: "\e612";
}

.icon-smail-star:before {
  content: "\e60f";
}

.icon-clear:before {
  content: "\e60a";
}

.icon-account-lock:before {
  content: "\e6cc";
}

.icon-account-phone:before {
  content: "\e6cd";
}

.icon-eye:before {
  content: "\e6ca";
}

.icon-pdf:before {
  content: "\e67a";
}

.icon-copy:before {
  content: "\ea32";
}

.icon-article-down:before {
  content: "\e60b";
}

.icon-article-up:before {
  content: "\e60c";
}

.icon-bell:before {
  content: "\e6c0";
}

.icon-camera1:before {
  content: "\e609";
}

.icon-redo:before {
  content: "\e607";
}

.icon-undo:before {
  content: "\e608";
}

.icon-bold:before {
  content: "\ec83";
}

.icon-underline:before {
  content: "\ec85";
}

.icon-italic:before {
  content: "\ec86";
}

.icon-h2:before {
  content: "\e61a";
}

.icon-h1:before {
  content: "\e61b";
}

.icon-h3:before {
  content: "\e6fa";
}

.icon-stool:before {
  content: "\e6bf";
}

.icon-edit-finish:before {
  content: "\e6be";
}

.icon-park-record:before {
  content: "\e6bd";
}

.icon-symptom-7:before {
  content: "\e6bb";
}

.icon-temperature:before {
  content: "\e6ba";
}

.icon-symptom-2:before {
  content: "\e6b9";
}

.icon-symptom-3:before {
  content: "\e6b7";
}

.icon-symptom-1:before {
  content: "\e6b8";
}

.icon-other:before {
  content: "\e6b6";
}

.icon-symptom-4:before {
  content: "\e6ae";
}

.icon-symptom-6:before {
  content: "\e6af";
}

.icon-symptom-9:before {
  content: "\e6b0";
}

.icon-symptom-8:before {
  content: "\e6b3";
}

.icon-symptom-5:before {
  content: "\e6b4";
}

.icon-certificate:before {
  content: "\e644";
}

.icon-drink-milk:before {
  content: "\e605";
}

.icon-play:before {
  content: "\e87c";
}

.icon-import:before {
  content: "\e64e";
}

.icon-loading:before {
  content: "\e692";
}

.icon-measure-1:before {
  content: "\e6ad";
}

.icon-invitation:before {
  content: "\e6a8";
}

.icon-ticket:before {
  content: "\e6a6";
}

.icon-doc:before {
  content: "\e6a5";
}

.icon-address:before {
  content: "\e604";
}

.icon-bluetooth:before {
  content: "\e6a4";
}

.icon-sleep:before {
  content: "\e6a2";
}

.icon-inspect:before {
  content: "\e69f";
}

.icon-observe:before {
  content: "\e69e";
}

.icon-pic:before {
  content: "\e6a0";
}

.icon-setting:before {
  content: "\e699";
}

.icon-cake:before {
  content: "\e69c";
}

.icon-award:before {
  content: "\e69d";
}

.icon-camera-1:before {
  content: "\e698";
}

.icon-graduate:before {
  content: "\e696";
}

.icon-park-quit:before {
  content: "\e697";
}

.icon-on-attendance:before {
  content: "\e6a9";
}

.icon-renewal:before {
  content: "\e68f";
}

.icon-leave:before {
  content: "\e690";
}

.icon-incumbency:before {
  content: "\e691";
}

.icon-check:before {
  content: "\e645";
}

.icon-rename:before {
  content: "\e68e";
}

.icon-study-light:before {
  content: "\e68d";
}

.icon-eat-light:before {
  content: "\e68b";
}

.icon-drink-water:before {
  content: "\e68c";
}

.icon-comment-light:before {
  content: "\e68a";
}

.icon-share-2:before {
  content: "\e686";
}

.icon-share-light:before {
  content: "\e687";
}

.icon-like-light:before {
  content: "\e688";
}

.icon-like-on:before {
  content: "\e689";
}

.icon-edit-light:before {
  content: "\e685";
}

.icon-delete-light:before {
  content: "\e684";
}

.icon-clock:before {
  content: "\e682";
}

.icon-doc-check:before {
  content: "\e681";
}

.icon-doc-close:before {
  content: "\e680";
}

.icon-target:before {
  content: "\e67e";
}

.icon-class-light:before {
  content: "\e67c";
}

.icon-check-light:before {
  content: "\e679";
}

.icon-advice-light:before {
  content: "\e676";
}

.icon-fold:before {
  content: "\e602";
}

.icon-upload:before {
  content: "\e670";
}

.icon-store-light:before {
  content: "\e66f";
}

.icon-review:before {
  content: "\e665";
}

.icon-camera-black:before {
  content: "\e65e";
}

.icon-submit:before {
  content: "\e65b";
}

.icon-review_old:before {
  content: "\e65d";
}

.icon-edit:before {
  content: "\e661";
}

.icon-ic_edit:before {
  content: "\e660";
}

.icon-check-s:before {
  content: "\e603";
}

.icon-coin:before {
  content: "\e659";
}

.icon-ic_time:before {
  content: "\e656";
}

.icon-out:before {
  content: "\e654";
}

.icon-entry:before {
  content: "\e655";
}

.icon-menu-light:before {
  content: "\e639";
}

.icon-share-light-2:before {
  content: "\e638";
}

.icon-refresh:before {
  content: "\e636";
}

.icon-camera:before {
  content: "\e635";
}

.icon-search:before {
  content: "\e631";
}

.icon-close:before {
  content: "\e630";
}

.icon-sex-0:before {
  content: "\e62f";
}

.icon-sigh-gray:before {
  content: "\e62c";
}

.icon-phone:before {
  content: "\e62d";
}

.icon-sex-1:before {
  content: "\e62e";
}

.icon-arrow-left:before {
  content: "\e62b";
}

.icon-arrow-right:before {
  content: "\e62a";
}

.icon-weixin:before {
  content: "\e629";
}

.icon-del:before {
  content: "\e620";
}

.icon-double_arrow:before {
  content: "\e621";
}

.icon-arrow-back:before {
  content: "\e622";
}

.icon-plus:before {
  content: "\e61f";
}

.icon-home:before {
  content: "\e61e";
}